.form {
  display: flex;
  min-width: 550px;
  padding: 0 40px;
  & > label {
    width: calc(100% / 4 - 10px);
    margin-right: 10px;
    & > input {
      width: 100%;
      height: 30px;
    }
  }
  & > [type='submit'] {
    align-self: flex-end;
    height: 30px;
  }
}
